<footer class="footer border-top mt-5 text-center">
    <div class="container py-3">
      <div class="social-links mb-2">
        <a href="https://instagram.com" target="_blank" class="text-muted mx-2">
          <i class="fab fa-instagram fa-lg"></i>
        </a>
        <a href="https://facebook.com"  class="text-muted mx-2">
          <i class="fab fa-facebook fa-lg"></i>
        </a>
        <a href="https://linkedin.com" target="_blank" class="text-muted mx-2">
          <i class="fab fa-linkedin fa-lg"></i>
        </a>
      </div>
      <div class="company-name text-muted">
        &copy; 2025 TripNest Private Limited
      </div>
    </div>
  </footer>
  