<% layout('/layouts/boilerplate') %>

<h1 class="text-center my-4">Sign Up for TripNest</h1>

<form action="/signup" method="POST" class="needs-validation" novalidate>
  
<div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="text" class="form-control" id="email" name="email" required>
    <div class="invalid-feedback">
        Please enter a email.
    </div>
</div>


  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="username" required>
    <div class="invalid-feedback">
      Please enter a username.
    </div>
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" required>
    <div class="invalid-feedback">
      Please enter a password.
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>

<script>
  // Bootstrap validation
  (() => {
    'use strict';
    const forms = document.querySelectorAll('.needs-validation');
    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  })();
</script>
